<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #76b852 ;">
  <a class="navbar-brand" href="#">HomeStay</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/adminhome">Staffs<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/guestdata">Guest<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/addroom">Rooms<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      {{!-- <li class="nav-item dropdown" style="color:#76b852;">
        <a class="nav-link dropdown-toggle" style="color:black;" href="#" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Settings
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> --}}
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">
        logout
      </button>
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body">
              Are you sure to logout?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn text-white" data-dismiss="modal" style="background: #df6767;">Close</button>
              <a href="/logout" type="button" class="btn text-white" style="background: #76b852;">Confirm</a>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</nav>
<section>
  <div class="container mt-4">
    <div class="text-center"><a href="/addRooms"><button class="btn btn-sm btn-success  mb-1">Add Room</button></a>
    </div>
    {{#if roomdetails}}
    <div class="d-flex justify-content-center">
      <table class="table border border-success table-responsive"
        style='table-layout:fixed;width:fit-content;height:min-content'>
        <thead>
          <tr>
            <th scope="col">SL.No</th>
            <th scope="col">Room No:</th>
            <th scope="col">Room Type</th>
            <th scope="col">Occupancy</th>
            <th scope="col">Room Availability</th>
            <th scope="col">Charge</th>
          </tr>
        </thead>
        {{#each roomdetails}}
        <tbody>
          <tr>
            <td>{{inc @index}}</td>
            <td>{{this.RoomNumber}}</td>
            <td>{{this.RoomType}}</td>
            <td>{{this.GuestNumber}}</td>
            <td>{{this.Availability}}</td>
            <td>{{this.Charge}}</td>
            <td><a href="/deleter/{{this._id}}" class="btn btn-danger">Delete</a></td>
        </tbody>
        {{/each}}
      </table>
      {{#if occupied}}
      <p class="text-center mt-2 text-danger small">Cannot delete occupied room</p>
      {{/if}}
    </div>
    {{else}}
    <h5 class="text-center mt-4">No data available</h5>
    <p class="text-center">It seems like you have not added any rooms , tap on the Addroom button above.<br> please feel
      free to contact us on any issues.</p>
    <div class="text-center"><i class="fa fa-user-secret"></i></div>
    {{/if}}
  </div>
</section>