<style>
  .hidetext {
    -webkit-text-security: disc;
    /* Default */
  }

  * {
    box-sizing: border-box;
  }

  table {
    counter-reset: tableCount;
  }

  .counterCell:before {
    content: counter(tableCount);
    counter-increment: tableCount;
  }


  td {
    padding: 25px;
    overflow: hidden;
    white-space: nowrap;
    width: 100px;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #76b852 ;">
  <a class="navbar-brand" href="#">HomeStay</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/staff/roomdata/{{staff_id}}">Rooms<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/staff/guestdetails/{{staff_id}}">Guest<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      {{!-- <li class="nav-item dropdown" style="color:#76b852;">
        <a class="nav-link dropdown-toggle" style="color:black;" href="#" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Settings
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> --}}
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">
        logout
      </button>
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body">
              Are you sure to logout?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn text-white" style="background: #df6767;" data-dismiss="modal">Close</button>
              <a href="/staff/logout" type="button" class="btn text-white" style="background: #76b852;">Confirm</a>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</nav>
<section>
  <div class="container-fluid mt-4">
    {{#if total_rooms}}
    <div class="text-center">
      <a href="/staff/addguest/{{staff_id}}"><button class="btn btn-sm btn-success  mb-1">New
          Guest</button></a>
    </div>
    {{#if guestdetails}}
    <div class="d-flex justify-content-center">
      <table class="table border border-success table-responsive table-sm" style='table-layout:fixed'>
        <thead>
          <tr>
            <th scope="col">NO:</th>
            <th scope="col">Name</th>
            <th scope="col">Contact Number</th>
            <th scope="col">Age</th>
            <th scope="col">Nationality</th>
            <th scope="col">ID Proof</th>
            <th scope="col">ID Number</th>
            <th scope="col">Payment Method</th>
            <th scope="col">Payment ID</th>
            <th scope="col">Room Number</th>
            <th scope="col">Guest Number</th>
            <th scope="col">Check-In Date</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        {{#each guestdetails}}
        <tbody>
          <tr>
            <td>{{inc @index}}</td>
            <td>{{this.Name}}</td>
            <td class="hidetext">{{this.Contact_Number}}</td>
            <td>{{this.Age}}</td>
            <td>{{this.Nationality}}</td>
            <td>{{this.ID_Proof}}</td>
            <td class="hidetext">{{this.ID_Number}}</td>
            <td>{{this.Payment_Method }}</td>
            <td class="hidetext">{{this.Payment_ID}}</td>
            <td>{{this.Room_No}}</td>
            <td>{{this.Guest_Number}}</td>
            <td>{{this.Check_In_Date}}</td>
            <td>{{this.Amount}}</td>
          </tr>
        </tbody>
        {{/each}}
      </table>
    </div>
    {{else}}
    <h5 class="text-center mt-4">No data available</h5>
    <p class="text-center">It seems like you have not added any guest , tap on the New Guest button above.<br> please
      feel free to contact us on any issues.</p>
    <div class="text-center"><i class="fa fa-user-secret"></i></div>
    {{/if}}
       {{else}}
    <h5 class="text-center mt-4">No data available</h5>
    <p class="text-center">It seems like you have not added any rooms yet , try contacting your admin.<br> please
      feel free to contact us on any issues.</p>
    <div class="text-center"><i class="fa fa-user-secret"></i></div>
    {{/if}}
</section>
</div>
</div>
</section>